@model IEnumerable<Alpid.Models.Alquiler>
@{
    ViewData["Title"] = "Nuevo alquiler";
}
<html>
<body style="background-color:ghostwhite;">
    <h1 style="color:blue">Nuevo alquiler</h1>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Create" id="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-4">
                    <label class="control-label">Fecha desde</label>
                    @if (@ViewData["Observacion"] == null)
                    {
                        <input id="FechaDesde" type="date" name="FechaDesde" class="form-control" required />
                    }
                    else
                    {
                        <input value="@ViewData["FechaDesde"]" name="FechaDesde" class="form-control" readonly="readonly" />
                    }
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Fecha hasta</label>
                    @if (@ViewData["Observacion"] == null)
                    {
                        <input id="FechaHasta" type="date" name="FechaHasta" class="form-control" required />
                    }
                    else
                    {
                        <input value="@ViewData["FechaHasta"]" name="FechaHasta" class="form-control" readonly="readonly" />
                    }
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Socio</label>
                    @if (@ViewData["Observacion"] == null)
                    {
                        <select name="SociosID" class="form-control" asp-items="ViewBag.SociosID"></select>
                    }
                    else
                    {
                        <select name="SociosID" class="form-control" asp-items="ViewBag.SociosID" readonly="readonly"></select>
                    }
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Observación</label>
                    @if (@ViewData["Observacion"] == null)
                    {
                        <input id="Observacion" name="Observacion" rows="5" cols="30" class="form-control" required />
                    }
                    else
                    {
                        <input id="Observacion" name="Observacion" rows="5" cols="30" value="@ViewData["Observacion"]" class="form-control" readonly="readonly"/>
                    }
                </div>
                <div class="form-group col-md-12">
                    <hr />
                </div>
                <h3 style="color:blue;">Seleccionar productos</h3>
                <div class="form-group col-md-3">
                    <label class="control-label">Productos</label>
                    <select name="ProductosID" class="form-control" asp-items="ViewBag.ProductosID"></select>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Cantidad</label>
                    <input name="cantidad" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Precio</label>
                    <input name="Valor" class="form-control" />
                </div>
                <div class="form-group col-md-2" style="display:none">
                    <input value="@ViewData["IdAlquiler"]" name="AlquilerID" class="form-control" />
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label" style="color:ghostwhite;">Observación</label>
                    @if (@ViewData["Observacion"] == null)
                    {
                        <input type="submit" onclick="ValidarFecha()" value="Guardar" class="form-control btn btn-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Guardar" class="form-control btn btn-primary" />
                    }
                </div>
            </form>
        </div>
    </div>
    @if (@ViewData["DeshabilitarCampos"].Equals(0))
    {
    }
    else
    {
        <hr />
        <h1 style="padding-bottom:2%; padding-top:2%;">Productos Alquiler:<span style="color:darkblue"></span> </h1>
        <div>
            <form class="form-group">
                <table class="table table-responsive-sm" id="datos">
                    <thead>
                        <tr>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.AlquilerID.Equals(@ViewData["IdAlquiler"]))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cantidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Productos.Nombre)
                                    </td>
                                    <td>
                                        <span>$ </span> @Html.DisplayFor(modelItem => item.Valor)
                                    </td>
                                    <td>
                                        @*<a asp-action="PhysicalDelete" class="btn btn-danger" asp-route-id="@item.Id">Quitar</a>*@
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </form>
        </div>
    }
    <div style="padding-bottom:5%;">
        <a asp-action="Index" class="btn btn-info" style="float:right;">Regresar</a>
    </div>
</body>
</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
<script>
    var valor = "@ViewData["Message"]";

     //si se produce algún error
        if (valor == 5) {
            swal({
                title: "Error!!",
                text:"@ViewData["errorCantProductos"]",
                icon: "error",
                button: "Aceptar",
            });
        };

    // validar fechas
     function ValidarFecha () {
        var fechaDesde = document.getElementById("FechaDesde").value;
        var fechaHasta = document.getElementById("FechaHasta").value;

         if (fechaDesde > fechaHasta) {
             alert("La fecha desde " + fechaDesde + " debe ser mayor a la fecha Hasta " + fechaHasta);
         }
         else {
            $("#Create").submit();
         };
    };

    function AddProducts() {
        var formulario = document.getElementById('AddProductForm');
        formulario.style.display = 'block';
    };
    $(document).ready(function () {
        if (@ViewData["DeshabilitarCampos"] == 1) {
            $document.getElementsByName("").prop('disabled', true);
        }
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
