@model Paginacion<Alpid.Models.Alquiler>

@{
    ViewData["Title"] = "Detalle alquiler";
}
<html>
<body style="background-color:ghostwhite;">
    <h1>Detalle alquiler</h1>
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Create" name="formCrearProducto">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-4">
                    <label class="control-label">Fecha desde</label>
                    <input name="FechaDesde" value="@ViewData["FechaDesde"]" type="date" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Fecha hasta</label>
                    <input name="FechaHasta" value="@ViewData["FechaHasta"]" type="date" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Socio</label>
                    <select name="SociosID" class="form-control" asp-items="ViewBag.SociosID" readonly="readonly"></select>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Observación</label>
                    <input name="Observacion" value="@ViewData["Observacion"]" class="form-control" readonly="readonly" />
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div>
        <form class="form-group">
            <table class="table table-responsive-sm" id="datos">
                <thead>
                    <tr>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Precio
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Productos.Nombre)
                            </td>
                            <td>
                                <span>$ </span> @Html.DisplayFor(modelItem => item.Valor)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
    <div style="padding-bottom:5%;">
        <a asp-action="Index" class="btn btn-info" style="float:left;">Regresar</a>
    </div>
</body>
</html>