@model Paginacion<Alpid.Models.Alquiler>

@{
    ViewData["Title"] = "Alquiler";
}
<html>
<body style="background-color:ghostwhite;">
    <h1 style="color:blue">Alquiler de productos</h1>
    <div style="padding-bottom:3%; padding-top:1%;">
        <!--Boton para crear nuevo alquier-->
        <a asp-action="Create" class='btn btn-success'>Nuevo alquiler</a>
        <!--Busca solamente la info que se muestra en la grilla-->
        <i class="fa fa-search fa-2x" style="Float: right; padding-left:10px; padding-top:2px;"></i>
        <input id="searchTerm" type="text" onkeyup="doSearch()" class="form-control" placeholder="Buscar" style=" width:200px; Float: right; " />
    </div>
    <div>
        <form class="form-group">
            <table class="table table-responsive-sm" id="datos">
                <thead>
                    <tr>
                        <th>
                            Fecha Desde
                        </th>
                        <th>
                            Fecha Hasta
                        </th>
                        <th>
                            Socio
                        </th>
                        <th>
                            Observación
                        </th>
                        <th>
                            Valor
                        </th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaDesde)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaHasta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Socios.RazonSocial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Observacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.AlquilerID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.AlquilerID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.AlquilerID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--paginacion sobre los valores que se muestran-->
            <div style="float:right; padding-bottom: 30px;">
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    Anterior
                </a>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-page="@i"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default">
                        @i
                    </a>
                }
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Siguiente
                </a>
            </div>
        </form>
    </div>
</body>
</html>
