@model Paginacion<Alpid.Models.Socios>
@{
    ViewData["Title"] = "Socios";
}

<html>
<head>

</head>
<body style="background-color:ghostwhite;">
    <h1 style="color:blue">Socios Alpid</h1>
    <p>
        <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-angle-double-down"> Filtros</i>
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form asp-action="Index" method="get">
                <div class="col-lg-2 col-med-4 col-sm-6 col-xs-12" style="padding-top:2%;">
                    <!--busca en toda la tabla en la base de datos de socios-->
                    <label style="color:darkblue">Cuit/Nombre: </label>
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                </div>
                <div class="col-lg-3 col-med-4 col-sm-6 col-xs-12" style="padding-top:2%;">
                    <div class="form-actions no-color">
                        <label class="col-lg-12" style="color:darkblue">Estados: </label>
                        <div style="padding-left:15px;">
                            <label><input type="radio" name="Coordinar" id="cbox1" onclick="validarcheck()" checked="checked"> Activos</label>
                            <label style="padding-left:10px"><input type="radio" name="Coordinar" id="cbox2" onclick="validarcheck()"> Eliminados</label>
                            <!--Se utiliza para pasar la info al controlador sobre que estado se desea buscar-->
                            <input type="text" id="FechasGrilla" name="filtroFecha" value="@ViewData["DateFilter"]" style="display:none;" />
                        </div>
                    </div>
                </div>
                <div style="padding-top:2%;" class="col-lg-4 col-med-4 col-sm-6 col-xs-12">
                    <button type="submit" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-search"></i></span> Buscar</button>
                    <a asp-action="Index" type="button" class="btn btn-labeled btn-info"><span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span> Actualizar Consulta</a>
                </div>
            </form>
        </div>
    </div>
    <div style="padding-bottom:5%; padding-top:1%;">
        <!--Boton para crear nuevo socio-->
        <a asp-action="Create" class='btn btn-success' style="Float: left;">Crear Socio</a>
        <!--Busca solamente la info que se muestra en la grilla-->
        <i class="fa fa-search fa-2x" style="Float: right; padding-left:10px; padding-top:2px;"></i>
        <input id="searchTerm" type="text" onkeyup="doSearch()" class="form-control" placeholder="Buscar" style=" width:200px; Float: right; " />
    </div>
    <!--tabla con la informacion del socio-->
    <div>
        <form class="form-group">
            <table class="table table-responsive-sm" id="datos">
                <thead>
                    <tr>
                        <th>
                            Razón Social
                        </th>
                        <th>
                            Cuit/Documento
                        </th>
                        <th>
                            Domicilio
                        </th>
                        <th>
                            Teléfono
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Fecha Ingreso
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <!--filtra los Socios por fecha de baja-->
                        @if (item.FechaBaja != null)
                        {
                            <tr style="background-color:salmon">
                                <td>
                                    @Html.DisplayFor(modelItem => item.RazonSocial)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cuit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Domicilio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaAlta)
                                </td>
                                <td>
                                    <a asp-action="Active" class='btn btn-primary' asp-route-id="@item.SociosID">Reactivar</a> |
                                    <a asp-action="Details" class='btn btn-info' asp-route-id="@item.SociosID">Ver</a>
                                </td>
                            </tr>
                        }
                        <!--filtra los Socios que no tengan fecha de baja fecha de baja-->
                        @if (item.FechaBaja is null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RazonSocial)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cuit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Domicilio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaAlta)
                                </td>
                                <td>
                                    <a asp-action="Edit" class='btn btn-info' asp-route-id="@item.SociosID">Editar</a> |
                                    <a asp-action="Delete" class='btn btn-danger' asp-route-id="@item.SociosID">Borrar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <!--realiza la paginacion del lado del servidor-->
            <div style="float:right; padding-bottom: 30px;">
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    Anterior
                </a>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-page="@i"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default">
                        @i
                    </a>
                }
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Siguiente
                </a>
            </div>
        </form>
    </div>
</body>
</html>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    //cambia el valor de los radiobutton de estados para luego pasarle la info que se requiere al controlador
    function validarcheck() {
        $('#cbox1').on('click', function () {
            if ($(this).is(':checked')) {
                document.getElementById('FechasGrilla').value = '';
            }
        });
        $('#cbox2').on('click', function () {
            if ($(this).is(':checked')) {
                document.getElementById('FechasGrilla').value = 'eliminados';
            }
        });
    };

      var valor = "@ViewData["Message"]";
    //si funciona todo correcto
    if (valor == 1) {
        swal({
            title: "Felicidades!!",
            text: "La operación se realizo con éxito",
            icon: "success",
            button: "Aceptar",
        });
    } else {
        //si se produce algún error
        if (valor == 2) {
            swal({
                title: "Error!!",
                text: "No se pudo realizar la operación",
                icon: "error",
                button: "Aceptar",
            });
        };
    };
</script>
