@model IEnumerable<Alpid.Models.Cuotas>
@{
    ViewData["Title"] = "Cuota";
}
<html>
<body>
    <h1>Cuota societaria</h1>
    <!--maneja los precion de la cuotas-->
    <div>
        <a asp-area="" asp-controller="CuotaPrecio" asp-action="Create" class="btn btn-dark" style="float:right;"> Nuevo precio Cuota</a>
    </div>
    <!--nuevo alquieler-->
    <p>
        <a asp-action="Create" class="btn btn-success">Nuevo pago</a>
    </p>
    <!--busca en toda la tabla en la base de datos-->
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Buscar: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Buscar" class="btn btn-dark" />
                <a asp-action="Index" class="btn btn-info">Cancelar búsqueda </a>
            </p>
        </div>
    </form>
    <div class="input-group-append" style="padding-top:30px">
        <div class="form-group">
            <h2 style="initial-letter:inherit; font-family: Homer Simpson; color:#0932ff;"> Grilla Cuotas </h2> <br />
            <label style="color:#d8828a;">El valor actual de la cuota es: $ @ViewData["precio"] </label>

        </div>
    </div>
    <!--Busca solamente la info que se muestra en la grilla-->
    <div>
        <i class="fa fa-search fa-2x" style="Float: right; padding-left:10px; padding-top:2px;"></i>
        <input id="searchTerm" type="text" onkeyup="doSearch()" class="form-control" placeholder="Buscar" style=" width:200px; Float: right; " />
    </div>
    <!--tabla con la informacion del socio-->
    <div>
        <form class="form-group">
            <table class="table table-responsive-sm" id="datos">
                <thead>
                    <tr>
                        <th>
                            Socio
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Observación
                        </th>
                        <th>
                            Importe
                        </th>
                        <th>
                            Fecha desde
                        </th>
                        <th>
                            Fecha hasta
                        </th>
                        <th>
                            Acción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                           @Html.DisplayFor(modelItem => item.Socios.RazonSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Importe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaDesde)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaHasta)
                        </td>
                        <td>
                            <a asp-action="Details" class="btn btn-info" asp-route-id="@item.CuotasID">Ver</a> 
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>