@model IEnumerable<Alpid.Models.Cuotas>
@{
    ViewData["Title"] = "Cuota";
}
<html>
<body style="background-color:ghostwhite;">
    <h1 style="color:blue">Cuota societaria</h1>
    <!--maneja los precion de la cuotas-->
    <div>
        <a asp-area="" asp-controller="CuotaPrecio" asp-action="Create" class="btn btn-dark" style="float:right;"> Nuevo precio Cuota</a>
    </div>

    <p>
        <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-angle-double-down"> Filtros</i>
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form asp-action="Index" method="get">
                <div class="col-lg-2 col-med-4 col-sm-6 col-xs-12" style="padding-top:2%;">
                    <!--busca en toda la tabla en la base de datos de socios-->
                    <label style="color:darkblue">Cuit/Nombre: </label>
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                </div>
                <div style="padding-top:2%;" class="col-lg-4 col-med-4 col-sm-6 col-xs-12">
                    <button type="submit" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-search"></i></span> Buscar</button>
                    <a asp-action="Index" type="button" class="btn btn-labeled btn-info"><span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span> Recargar</a>
                </div>
            </form>
        </div>
    </div>
    <div class="input-group-append" style="padding-top:30px">
        <div class="form-group">
            <h2 style="initial-letter:inherit; font-family: Homer Simpson; color:#0932ff;"> Grilla Cuotas </h2> <br />
            <label style="color:#d8828a;">El valor actual de la cuota es: $ @ViewData["precio"] </label>

        </div>
    </div>
    <div style="padding-bottom:3%; padding-top:1%;">
        <!--nuevo Cuota societaria-->
        <a asp-action="Create" class="btn btn-success">Nuevo pago</a>
        <!--Busca solamente la info que se muestra en la grilla-->
        <i class="fa fa-search fa-2x" style="Float: right; padding-left:10px; padding-top:2px;"></i>
        <input id="searchTerm" type="text" onkeyup="doSearch()" class="form-control" placeholder="Buscar" style=" width:200px; Float: right; " />
    </div>
    <!--tabla con la informacion del socio-->
    <div>
        <form class="form-group">
            <table class="table table-responsive-sm" id="datos">
                <thead>
                    <tr>
                        <th>
                            Socio
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Observación
                        </th>
                        <th>
                            Importe
                        </th>
                        <th>
                            Fecha desde
                        </th>
                        <th>
                            Fecha hasta
                        </th>
                        <th>
                            Acción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Socios.RazonSocial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Observacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Importe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaDesde)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaHasta)
                            </td>
                            <td>
                                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.CuotasID">Ver</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
<script>
     var valor = "@ViewData["Message"]";
    //si funciona todo correcto
    if (valor == 1) {
        swal({
            title: "Felicidades!!",
            text: "La operación se realizo con éxito",
            icon: "success",
            button: "Aceptar",
        });
    } else {
        //si se produce algún error
        if (valor == 2) {
            swal({
                title: "Error!!",
                text: "No se pudo realizar la operación",
                icon: "error",
                button: "Aceptar",
            });
        };
    };
</script>