@model IEnumerable<Alpid.Models.Productos>

@{
    ViewData["Title"] = "Productos";
}
<html>
<body>
    <header>
        <link href="~/css/cssKanze/style.min.css" rel="stylesheet" />
    </header>
    <h1>Productos Alpid</h1>
    <p>
        <a asp-action="Create" class='btn btn-info'>Nuevo Producto</a>
    </p>
    Buscar: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
    <input type="submit" value="Buscar" class="btn btn-default" />
    <div class="input-group-append" style="padding-top:30px">
        <div class="form-group">
            <h2 style="initial-letter:inherit; font-family: Homer Simpson, cursive; color:#0932ff;"> Grilla producots </h2>

            <h5 style="initial-letter:inherit; font-family: Homer Simpson, cursive; padding-right:10px">
                Tipo de productos:
                <label><input type="checkbox" id="alquiler" onclick="validarcheck()"> De alquiler </label>
                <label style="padding-left:10px"><input type="checkbox" id="Inmobiliarios" onclick="validarcheck()"> Inmobiliarios</label><br>

                Estados:
                <label style="padding-left:10px"><input type="checkbox" id="cbox1" onclick="validarcheck()" checked="checked"> Activos</label>
                <label style="padding-left:10px"><input type="checkbox" id="cbox2" onclick="validarcheck()" checked="checked"> Eliminados</label><br>
            </h5>
        </div>

    </div>
    <div>
        <i class="fa fa-search fa-2x" style="Float: right; padding-left:10px; padding-top:2px;"></i>
        <input id="searchTerm" type="text" onkeyup="doSearch()" class="form-control" placeholder="Buscar" style=" width:200px; Float: right; " />
    </div>
    <div>
        <form class="form-group">
            <table class="table table-responsive-sm" id="datos">
                <thead>
                    <tr>
                        <th>
                            Nombre:
                        </th>
                        <th>
                            Cantidad:
                        </th>
                        <th>
                            Tipo Producto:
                        </th>
                        <th>
                            Precio de Alquiler:
                        </th>
                        <th>
                            Proveedor:
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.FechaBaja != null)
                        {
                            if (item.ProductosTipo == "Inmobiliario")
                            {
                                <tr id="GrillaEliminados" name="inmobiliarios" style="background-color:blanchedalmond;">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                    <td>
                                        Inmobiliario
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrecioAlquiler)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Proveedores.Cuit)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.PoductosID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.PoductosID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.PoductosID">Delete</a>
                                    </td>
                                </tr>
                            }
                            if (item.ProductosTipo == "DeAlquiler")
                            {
                                <tr id="GrillaEliminados" name="Alquiler">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                    <td>
                                        De Alquiler
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrecioAlquiler)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Proveedores.Cuit)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.PoductosID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.PoductosID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.PoductosID">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                        @if (item.FechaBaja is null)
                        {
                            if (item.ProductosTipo == "Inmobiliario")
                            {
                                <tr id="GrillaActivos" name="inmobiliarios" style="background-color:blanchedalmond;">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                    <td>
                                        Inmobiliario
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrecioAlquiler)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Proveedores.Cuit)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.PoductosID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.PoductosID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.PoductosID">Delete</a>
                                    </td>
                                </tr>
                            }
                            if (item.ProductosTipo == "DeAlquiler")
                            {
                                <tr id="GrillaActivos" name="Alquiler">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                    <td>
                                        De Alquiler
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrecioAlquiler)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Proveedores.Cuit)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.PoductosID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.PoductosID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.PoductosID">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>

<script>
    function validarcheck() {
        $('#cbox1').on('click', function () {
            if ($(this).is(':checked')) {
                document.getElementById('GrillaActivos').style.display = 'block';
            }
            else {
                document.getElementById('GrillaActivos').style.display = 'none';
            }
        });
        $('#cbox2').on('click', function () {
            if ($(this).is(':checked')) {
                document.getElementById('GrillaEliminados').style.display = 'block';
            }
            else {
                document.getElementById('GrillaEliminados').style.display = 'none';
            }
        });

        $('#checkInmobiliario').on('click', function () {
            if ($(this).is(':checked')) {
                document.getElementsByName('Inmobiliario').style.display = 'block';
            }
            else {
                document.getElementsByName('Inmobiliario').style.display = 'none';
            }
        });

        $('#checkAlquiler').on('click', function () {
            if ($(this).is(':checked')) {
                document.getElementsByName('Alquiler').style.display = 'block';
            }
            else {
                document.getElementsByName('Alquiler').style.display = 'none';
            }
        });
    }
</script>