@model IEnumerable<Alpid.Models.Productos>

@{
    ViewData["Title"] = "Elemento ortopédico";
}
<html>
<body style="background-color:ghostwhite;">
    <h1 style="color:blue">Elementos ortopédicos Alpid</h1>
    <!--Busca en la base de datos-->

    <form asp-action="Index" id="Index">
        <div style="padding-bottom:3%;">
            <div class="form-group col-md-3" style="padding-top:2%;">
                <!--busca en toda la tabla en la base de datos de socios-->
                <label style="color:darkblue">Cuit/Nombre: </label>
                <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            </div>
            <div class="col-lg-3 col-med-4 col-sm-6 col-xs-12" style="padding-top:2%;">
                <div class="form-actions no-color">
                    <label class="col-lg-12" style="color:darkblue">Estados: </label>
                    <div style="padding-left:15px;">
                        <label><input type="radio" name="Coordinar" id="cbox1" onclick="validarcheck()" checked="checked"> Activos</label>
                        <label style="padding-left:10px"><input type="radio" name="Coordinar" id="cbox2" onclick="validarcheck()"> Eliminados</label>
                        <!--Se utiliza para pasar la info al controlador sobre que estado se desea buscar-->
                        <input type="text" id="FechasGrilla" name="filtroFecha" value="@ViewData["DateFilter"]" style="display:none;" />
                    </div>
                </div>
            </div>
            <div style="padding-top:2%;" class="col-lg-4 col-med-4 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-search"></i></span> Buscar</button>
                <a asp-action="Index" type="button" class="btn btn-labeled btn-info"><span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span> Actualizar Consulta</a>
            </div>
        </div>
    </form>
    <br />
    <br />
    <hr />
    <!--boton para abrir modal Mobiliariosns-->
    <!--busca solamente en lo datos que se encunetran en la tabla con la funcion js que esta en el layaut-->
    <div class="form-group" style="padding-bottom:5%; padding-top:1%;">
        <a asp-action="Create" class='btn btn-success'>Nuevo elemento ortopédico</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Ver elementos mobiliarios/otros</button>
        <a class="btn btn-secondary" onclick="VerReporte()" style="color:white;">Reporte Elementos Ortopédicos</a>

        <i class="fa fa-search fa-2x" style="Float: right; padding-left:10px; padding-top:2px;"></i>
        <input id="searchTerm" type="text" onkeyup="doSearch()" class="form-control" placeholder="Buscar" style=" width:200px; Float: right; " />
    </div>
    <!--de alquiler-->
    <div>
        <form class="form-group">
            <table class="table table-responsive-sm" id="datos">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Tipo Producto
                        </th>
                        <th>
                            Proveedor
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.FechaBaja != null)
                        {
                            if (item.ProductosTipo == "DeAlquiler")
                            {
                                <tr id="GrillaEliminados" style="background-color:salmon;" name="Alquiler">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                    <td>
                                        De Alquiler
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Proveedores.RazonSocial)
                                    </td>
                                    <td>
                                        <a asp-action="Active" class='btn btn-primary' asp-route-id="@item.ProductosID">Reactivar</a>|
                                        <a asp-action="Details" class='btn btn-info' asp-route-id="@item.ProductosID">Ver</a>
                                    </td>
                                </tr>
                            }
                        }
                        @if (item.FechaBaja is null)
                        {
                            if (item.ProductosTipo == "DeAlquiler")
                            {
                                <tr id="GrillaActivos" name="Alquiler">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                    <td>
                                        De Alquiler
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Proveedores.RazonSocial)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" class='btn btn-info' asp-route-id="@item.ProductosID">Editar</a> |
                                        <a asp-action="Delete" class='btn btn-danger' asp-route-id="@item.ProductosID">Borrar</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </form>
    </div>
    <!--Mobiliarios-->
    <!-- The Modal-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Productos Mobiliarios/otros</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div style="padding-bottom:10%;">
                        <a class="btn btn-secondary" onclick="VerReporteMobiliarios()" style="float:left;color:white;">Reporte Productos</a>
                    </div>
                    <form class="form-group">
                        <table class="table table-responsive-sm" id="datos">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Cantidad
                                    </th>

                                    <th>
                                        Acciones
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.ProductosTipo != "DeAlquiler")
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cantidad)
                                            </td>

                                            <td>
                                                <a asp-action="Edit" class='btn btn-info' asp-route-id="@item.ProductosID">Editar</a> |
                                                <a asp-action="DeletePhysical" class='btn btn-danger' asp-route-id="@item.ProductosID">Borrar</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
<script>
    //cambia el valor de los radiobutton de estados para luego pasarle la info que se requiere al controlador
    function validarcheck() {
        $('#cbox1').on('click', function () {
            if ($(this).is(':checked')) {
                document.getElementById('FechasGrilla').value = '';
            }
        });
        $('#cbox2').on('click', function () {
            if ($(this).is(':checked')) {
                document.getElementById('FechasGrilla').value = 'eliminados';
            }
        });
    };

    var valor = "@ViewData["Message"]";
    //si funciona todo correcto
    if (valor == 1) {
        swal({
            title: "Felicidades!!",
            text: "La operación se realizo con éxito",
            icon: "success",
            button: "Aceptar",
        });
    } else {
        //si se produce algún error
        if (valor == 2) {
            swal({
                title: "Error!!",
                text: "No se pudo realizar la operación",
                icon: "error",
                button: "Aceptar",
            });
        };
    };
     function VerReporte(){

             window.open('Productos/Report');
             window.location.href= '@Url.Action("Index", "Productos")';
    };
     function VerReporteMobiliarios(){

             window.open('Productos/ReportMobiliarios');
             window.location.href= '@Url.Action("Index", "Productos")';
    };
</script>

