@model IEnumerable<Alpid.Models.Caja>

@{
    ViewData["Title"] = "Caja";
}
<html>
<body style="background-color:ghostwhite;">
    <h1 style="color:blue">Caja Alpid</h1>

    <!--Busca solamente la info que se muestra en la grilla-->
    <div style="padding-bottom:5%; padding-top:1%;" class="form-group">
        <!--Buscar por fechas-->
        <form asp-action="Index" id="Index">
            <div class="form-actions no-color">
                <p>
                    Fecha desde <input type="date" name="fechaDesde" id="ponerFechaDesde" />
                    Fecha hasta <input type="date" name="fechaHasta" id="ponerFechaHasta" />
                    <button type="button" onclick="ValidarFecha()" class="btn btn-labeled btn-dark"><span class="btn-label"><i class="glyphicon glyphicon-search"></i></span> Buscar</button>
                </p>
            </div>
        </form>
        <br />
        <div class="form-group">
            <h4 style="color: limegreen; float:left;">El total que posee la caja es: $@ViewData["TotalCaja"]</h4>
        </div>
        <br />
        <hr />
        <div class="form-group">
            <a asp-action="CreateIngreso" class="btn btn-primary">Ingreso</a>
            @if (@ViewData["ValorParaBoton"].Equals(0))
            {
                <a asp-action="CreateRetire" class="btn btn-danger" style="display:none;">Retiro</a>
            }
            else
            {
                <a asp-action="CreateRetire" class="btn btn-danger">Retiro</a>
            }
            <a onclick="VerReporte()" class="btn btn-dark" style="color:white;">Reporte caja</a>
            <i class="fa fa-search fa-2x" style="Float: right; padding-left:10px;"></i>
            <input id="searchTerm" type="text" onkeyup="doSearch()" class="form-control" placeholder="Buscar" style=" width:200px; Float: right; " />
        </div>
    </div>

    <!--tabla con la informacion de la caja-->
    <div>
        <form class="form-group">
            <table class="table table-responsive-sm" id="datos">
                <thead>
                    <tr>
                        <th>
                            Fecha Movimiento
                        </th>
                        <th>
                            Observaciones
                        </th>
                        <th>
                            Ingreso
                        </th>
                        <th>
                            Salida
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Acción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaMovimiento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Observaciones)
                            </td>
                            <td style="color:#49d292;">
                                @if (item.Debe != null)
                                {
                                    <label>$</label> @Html.DisplayFor(modelItem => item.Debe)
                                }
                            </td>
                            <td style="color:red;">
                                <!--if para que solamente traiga el signo de pregunta a los campos que tiene valores-->
                                @if (item.Haber != null)
                                {
                                    <label>$</label> @Html.DisplayFor(modelItem => item.Haber)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.CajaId">Ver</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">


<script>
      function ValidarFecha () {
        var fechaDesde = document.getElementById("ponerFechaDesde").value;
        var fechaHasta = document.getElementById("ponerFechaHasta").value;

         if (fechaDesde > fechaHasta) {
             alert("La fecha desde " + fechaDesde + " debe ser menor a la fecha Hasta " + fechaHasta);
         }
         else {
            $("#Index").submit();
         };
    };

    document.getElementById('ponerFechaDesde').value = "@ViewData["FechaDesdeFilter"]";
    document.getElementById('ponerFechaHasta').value = "@ViewData["FechaHastaFilter"]";

    var valor = "@ViewData["Message"]";
    //si funciona todo correcto
    if (valor == 1) {
        swal({
            title: "Felicidades!!",
            text: "La operación se realizo con éxito",
            icon: "success",
            button: "Aceptar",
        });
    } else {
        //si se produce algún error
        if (valor == 2) {
            swal({
                title: "Error!!",
                text: "No se pudo realizar la operación",
                icon: "error",
                button: "Aceptar",
            });
        };
    };

     function VerReporte(){

             window.open('Caja/Report');
             window.location.href= '@Url.Action("Index", "Caja")';
    };
</script>